{% extends 'base.html.twig' %}

{% block body %}
    
         {#Muestra la barra superior#}
                {% embed "barranavegacion.html.twig" %}{% endembed %}
    <h1>Nueva familia</h1>
    <div class="container" style="margin-top: 20px;">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Crear" />
            <a href="{{ path('listado_familias') }}" class="btn btn-primary btn-flat">volver a la lista de familias</a>
        {{ form_end(form) }}
        
    </div>
{% endblock %}
