{% extends 'base.html.twig' %}

{% block body %}

                {#Muestra la barra superior#}
                {% embed "barranavegacion.html.twig" %}{% endembed %}

    <div class="container">
        <h1>Actividad</h1>
    </div>

{% endblock %}
