{% extends 'baseAdmin.html.twig' %}

{% block body %}


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">BtoClick</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('user_index') }}">Ejemplo presentaci贸n 60"</a>
          </li>
        </ul>
      </div>
    </nav>
</div>
    <div class="container">
        <h1>Ejemplo: Generar c贸digo QR --</h1>
        <div class="row">
            <div>    
        
            <img src="BToClick.jpg" width="300px"> 
            </div>
            <div>
                <div class="card border-info">

                        {% if muestra =='si' %}
                            <div class="card-header"><i class="fa fa-qrcode "></i> C贸digo </div>
                            <div class="card-body">
                            <img src="QR-reunion.png"> 
                        {% else %}
                            <div class="card-header"><i class="fa fa-user"></i> Nombre </div>
                            <div class="card-body">
                             <form class="form-inline my-2 my-lg-0" accion="{{ path('user_index') }}" method="POST">
                              <input class="form-control mr-sm-2" type="text" placeholder="nombre" name="nombreQR">
                              <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-qrcode "></i> Nuevo c贸digo</button>
                            </form>          
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>  
    </div>
    

{% endblock %}
