{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Nueva empresa</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
                <div class="row">
                    <input type="submit" value="Crear" class="btn btn-primary">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                      <a href="{{ path('empresa_index') }}" class="btn btn-primary" title="Inicio"><i class="fa fa-home"></i></a>

                    </div>

                </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
